* {
  font-family: KoreanFont,georgia,serif;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mainView {
  color: #EDD8B9;
}

body {
  color: #EDD8B9;
  background-color: #312728;
  background: url(../img/dota_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.single-item {
  float: left;
  width: 5%;
}

.heroesView {
  border: solid #110D0E 1px;
  box-shadow: 0px 0px 4px 4px #0e0e0e;
  border-radius: 5px;
  padding: 50px;
  background-color: #312728;
  color: #EDD8B9;
  padding-top: 80px;
}

.single-hero {
  position: relative;
  float: left;
  width: 30%;
  height: 64px;
  border: solid #110D0E 3px;
  padding: 1px;
  margin: 5px;
  border-radius: 5px;
  background-color: #EDD8B9;
  box-shadow: 0px 0px 4px 4px #1c1e1e;
}

  .single-hero img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

.heroes-box {
  padding-top: 150px;
}

  .heroes-box h3 {
    text-align: center;
  }

.single-hero img:hover {
  position: absolute;
  width: 200px;
  height: auto;
  border-radius: 5px;
  background-color: #EDD8B9;
  box-shadow: 0px 0px 4px 4px #1c1e1e;
  padding: 1px;
  border: solid #110D0E 3px;
  left: -45%;
  top: -30px;
  z-index: 1;
}

.navbar-inverse .navbar-nav > li > a {
  color: #EDD8B9;
}

.navbar-inverse {
  border-radius: 5px;
  box-shadow: 0px 0px 4px 4px #0e0e0e;
  border: solid #110D0E 1px;
  background-color: #312728;
  color: #EDD8B9;
}

.jumbotron {
  text-align: center;
  border: solid #110D0E 1px;
  box-shadow: 0px 0px 4px 4px #0e0e0e;
  border-radius: 5px;
  background-color: #721415;
  color: #EDD8B9;
  position: fixed;
  width: 56%;
  z-index: 2;
  top: 53px;
}

  .jumbotron h2 {
    text-shadow: 0px 0px 30px cornflowerblue;
    margin-top: -20px;
  }

  .jumbotron h4 {
    text-align: center;
    display: inline;
  }

  .jumbotron h5 {
    color: #868686;
    text-align: center;
    display: inline;
  }

.hero-header-border {
  height: 1px;
  border: 1px solid #110D0E;
  width: 50%;
  box-shadow: 0 0 20px 5px #222;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.dropdown-menu {
  background-color: #312728;
  color: #EDD8B9;
}

  .dropdown-menu li a {
    color: #EDD8B9;
  }

.navbar-brand {
  padding: 8px;
}

.navbar-collapse {
  position: absolute;
  width: 100%;
  left: 38%;
}


/*HERO-DETAIL-VIEW*/

/*Box-header and box-body styling*/
.box-header {
  margin-top: 50px;
  padding: 20px;
  border-radius: 9px 9px 0 0;
  background: #4f4f4f; /* Old browsers */
  background: -moz-linear-gradient(top, #4f4f4f 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4f4f4f 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4f4f4f 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4f4f4f 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom, #4f4f4f 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

  .box-header h4 {
    font-size: 4em;
    margin: 0 auto;
    text-shadow: 0 0 30px salmon;
  }

.box-body {
  border: solid 5px black;
  border-radius: 0 0 9px 9px;
  background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRUlUmjY_cOquq8MvkgOAViKSQGofTimxOFYjACMy-A3HDmUyff);
}

.inset-shadow {
  box-shadow: 0 0 31px 7px #000 inset;
}

.apad {
  padding: 25px;
}

.transparent {
  overflow: auto;
  background: rgba(5,5,5,0.8);
}

.hero-intro {
  text-align: center;
}


/*Overview content styling*/
.overview {
}

.overview-abilities-row {
  height: auto;
  width: 650px;
  margin-bottom: 30px;
}

.overview-abilities-img {
}

  .overview-abilities-img img {
    border: solid 3px black;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 5px black;
  }

.overview-abilities-description h2 {
  font-family: KoreanFont,georgia,serif;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
}

.overview-abilities-description p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 21px;
}

.hero-overview-picture img {
  border: solid 3px black;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 5px black;
  margin-bottom: 25px;
}

.primary-stats table {
  margin-left: 15px;
  width: 130px;
  padding: 0px;
}

.tablerow {
  height: 50px;
}

.table-col-pic {
  width: 45px;
  height: 33px;
}

.table-col-value {
  height: 33px;
  width: 100px;
}

.primary-stats table tr td img {
  height: 33px;
  width: 33px;
}

/*Bio content styling*/
.bio {
}

/*Tooltip styling*/
.tooltip {
  max-width: 500px;
  width: auto;
  height: auto;
}

.tooltip-inner {
  background-color: black;
  max-width: 500px;
  width: auto;
  height: auto;
  font-size: 1.5em;
  border: solid 5px #5b1919;
  text-align: left;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: -20px;
  margin-top: -25px;
  border-width: 20px 25px 20px 0;
  border-right-color: #5b1919;
}

.tooltip.in {
  filter: alpha(opacity=90);
  opacity: 1;
}

.tooltip-inner .border {
  border: solid 1px gray;
}

.tooltip-inner .ability-name {
  color: white;
}

.desc {
  color: #c6c6c6;
  padding-top: 10px;
  padding-bottom: 10px;
}

.notes {
  color: #6fe771;
  padding-bottom: 10px;
}

.tooltip-view {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.ability-name {
  padding-bottom: 10px;
}

.ability-value {
  padding-top: 10px;
}

.dmg-type-value {
  padding-bottom: 10px;
}

.ability-cooldown {
  padding-top: 5px;
}

.ability-cooldown img {
  padding-right: 10px;
}

.ability-manacost {
  padding-top: 5px;
}

.ability-manacost img {
  padding-right: 10px;
}

.lore {
  color: #a8a8a8;
  padding-top: 15px;
  font-size: 0.7em;
  padding-left: 20px;
  padding-right: 20px;
}